* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Outfit";
  src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap') 
}


body {
  background-color: #d6e2f0; 
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 15px #c1cbd6;
  width: 320px;
  height: 500px;
  text-align: center;
  padding: 17px;
  div {
    margin: 15px;
    h1 {
      color: #1f3251;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p {
      color: #7b879d;
      font-size: 15px;
      font-weight: 400;
    }
  }
  img {
    border-radius: 15px;
    width: 286px;
  }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
